/* 結構 */
.element {
  border: 1px solid #ccc;
  padding: 20px;
}

.element__title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.element__content {
  margin-bottom: 20px;
}

.btn {
  border: 1px solid;
  padding: 10px 20px;
}

/* 外觀 */
.element--featured {
  border-color: red;
}

.btn-1 {
  background-color: blue;
  color: white;
}

.btn-2 {
  background-color: gray;
  color: black;
}