


/* 電腦版預設設計 */
.body{
    /* width: 100vw; */
    /* height: 100%; */
    margin: 0;
    padding: 0;
}



.flex_view{
    /*display: flex 這邊代表所有這個容器內的元件水平排列 */
    display: flex;
    
}

.header_sitename{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    font-weight: bold;/*粗體*/
    text-align:center;
    display: flex;
    flex:auto;
    justify-content:start;
    justify-content: center;
    align-items:center;
    text-align: center;

    /* background-color:chocolate; */
}


.x{
    display: none;
}


.item_team{
    margin-right: 10px;
    /* 水平排列 */
    display: flex; /*開啟水平排列*/
    flex:auto; /*自動水平排列*/
    justify-content:end;/*靠右*/
    text-align:center;
    align-items:center;
}




.item_obj{
    margin-left: 20px;
}

.welcome_banner_group{
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

.welcome_banner{
    font-size: 40px;
    font-weight: bold;
    height: 250px;
    width:100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    background-color: rgb(221, 238, 248);
    
    /* position:fixed;left: ;:0; */
}



/* -------------------------------------以下v2使用 ------------------------------*/
.content1{
    display:flex;
    justify-content: center;
}

.content2{
    display:flex;
    justify-content: center;
    /* flex-wrap: wrap;換行 */

    margin-top: 10px;
    width: 1200px; 
}


.column1_promotion{
    display:flex; /*開啟水平排列*/
    flex-grow: 1;/*隨容器填滿*/
    min-width: 380px;
    /* width: 380px; */
    height: 50px;
    margin: 10px;
    background-color: rgb(204, 221, 232);
}

.column1_promotion_word{
    display:flex; /*開啟水平排列*/
    align-items: center;
    margin-left: 10px;
}

.title_word{
    display:flex;
    justify-content: center;/*水平置中div*/
    text-align: center;
    height: 10%;
    /* align-items: center; */
    background-color: rgb(214, 243, 198);
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 100%; */
    
}



/* 新版樣式設定 */
.column1{
    width: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.title_content1{    
    display:flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    justify-content: center; /* 水平置中 */
    /* text-align: center; 文字置中 */
    /* overflow-y:hidden; */

}

.title_content2{    
    display:flex;
    width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow-y:hidden; */
}



.big_box_object{
    width: 20%;
    height: 200px;
    margin: 10px;
    flex-grow: 1;/*隨容器填滿*/
    display: flex;
    justify-content: left;
    flex-direction: column-reverse;
    background-size: cover;/*背景照片*/
    background-image: url("./img/img1.jpg");/*背景照片*/
}



.small_box_object{
    width: 180px;
    height: 200px;
    /* margin-top: 10px;
    margin-left: 10px; */
    margin: 10PX;

    display: flex;
    justify-content: end; /*水平置右*/
    text-align: center;/*文字置中*/

    flex-direction: column-reverse;
    
    background-size: cover;
    background-image: url("./img/img1.jpg");
} 

.star_icon_div{
    display: flex;
    height:90%;
    align-items: start;
    justify-content: end; /*水平置右*/

}
.star_icon{
    width: 20px;
    margin: 10px;
    /* opacity: 0.6; */

}

.c1{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    background-color:darkgreen;
}

.c2{
    width: 1200px;
    display: flex;
}

.buger_menu{
    display: none;
}



/* RWD */
/* 平板 */
@media(max-width: 1200px){

    .all_content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        /* width: 90%; */
    }

    
    .content2{
        flex-wrap: wrap;
        /* width: 95%; */
        justify-content: center;
        align-items: center;

    }

    .column1_promotion{
        /* min-width: 42.5%; */
        /* flex-basis:10%; */
        min-width: 40%;
        flex-grow: 1;/*隨容器填滿*/
        flex-wrap: wrap;

    }

    .column1_promotion_word{
        display: flex;
        justify-content: center;
        /* word-break:break-all; */
    }


    .title_content1{
        flex-wrap: wrap;
    }    

    .title_content2{
        flex-wrap: wrap;
    }    

    .c1{
        flex-wrap: wrap;
        justify-content: center;
    }
    #Title_1_id{
        margin:10px;
        width: 20%;
        flex-grow: 1;
    }
    #Title_2_id{
        width: 20%;
        flex-grow: 1;
    }
    #Title_3_id{
        width: 20%;
        flex-grow: 1;
    }
    #Title_4_id{
        width: 20%;
        flex-grow: 1;
    }
    #Title_5_id{
        width: 20%;
        flex-grow: 1;
    }
    #Title_6_id{
        width: 20%;
        flex-grow: 1;
    }
    #Title_7_id{
        width: 20%;
        flex-grow: 1;
    }
    #Title_8_id{
        width: 20%;
        flex-grow: 1;
    }
    #Title_9_id{
        width: 35%;
        flex-grow: 1;
    }
    #Title_10_id{
        width: 35%;
        flex-grow: 1;
    }


    .item_obj{
        display: flex;
    }

    #item1{
        display: block;
    }
    #item2{
        display: block;
    }

    #item3{
        display: block;
    }

    #item4{
        display: block;
    }



    .buger_menu{
        display: none;
    }





}




/* 手機 */
@media(max-width: 600px){


    /* 下面所有的內容 */
    .all_content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    
    /* 上半部分內容 */

    .content2{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .column1_promotion{
        min-width: 300px;
        flex-grow: 1;/*隨容器填滿*/
        flex-wrap: wrap;
    }

    .column1_promotion_word{
        display: flex;
        justify-content: none;
        /* word-break:break-all; */
    }


    .title_content1{
        flex-wrap: wrap;
    }    

    .title_content2{
        flex-wrap: wrap;
    }    

    .c1{
        flex-wrap: wrap;
        justify-content: center;
    }
    #Title_1_id{
        width: 90%;
        flex-grow: 1;
    }
    #Title_2_id{
        width: 90%;
        flex-grow: 1;
    }
    #Title_3_id{
        width: 90%;
        flex-grow: 1;
    }
    #Title_4_id{
        width: 90%;
        flex-grow: 1;
    }
    #Title_5_id{
        width: 90%;
        flex-grow: 1;
    }
    #Title_6_id{
        width: 90%;
        flex-grow: 1;
    }
    #Title_7_id{
        width: 90%;
        flex-grow: 1;
    }
    #Title_8_id{
        width: 90%;
        /* min-width:10% ; */
        flex-grow: 1;
    }
    #Title_9_id{
        width: 90%;
        /* min-width:10% ; */
        flex-grow: 1;
    }
    #Title_10_id{
        width: 90%;
        /* min-width:10% ; */
        flex-grow: 1;
    }

    .item_obj{
        display: none;
    }

    #item1{
        display: none;
    }
    #item2{
        display: none;
    }

    #item3{
        display: none;
    }

    #item4{
        display: none;
    }

    .buger_menu{
        display: flex;
        flex: auto;
        width: 20px;
        height: 20px;
    }

}


    
   


