<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment - Week 4 error</title>
    <link rel="stylesheet" type="text/css" href="week4_task.css">

</head>


<body class="body">
    

    <div class="web_banner_container">
        <div class="web_banner">失敗頁面</div>
    </div>
    <div>
        <div class="web_login_container">
            <div class="login_title" >帳號或密碼輸入錯誤</div>
        </div>
    </div>
</body>
</html>