<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment - Week 4 member</title>
    <link rel="stylesheet" type="text/css" href="week4_task.css">

</head>


<body class="body">
    
</body>
    <div class="web_banner_container">
        <div class="web_banner">歡迎光臨，這是會員頁</div>
    </div>
    <div>
        <div class="web_login_container">
            <div class="login_title" >恭喜您成功登入系統</div>
        </div>
    </div>

    <div>
        <div class="web_login_container">
            <a class="login_title" href="/signout">登出系統</a>
        </div>
    </div>


</html>