<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment - Week 6 member</title>
    <link rel="stylesheet" type="text/css" href="week6_task.css">

</head>


<body class="body">
    

    <div class="web_banner_container">
        <div class="web_banner">歡迎光臨，這是會員頁</div>
    </div>
    <div>
        <div class="web_login_container">
            <div class="login_title" id="name_welcome"></div>
        </div>
    </div>

    <div>
        <div class="web_login_container">
            <a class="login_title" href="/signout">登出系統</a>
        </div>
    </div>


    <hr> <!-- 分隔線 以下是留言功能-->

    <div class="message_input_area">
        <div class="message_input_area">
            <div class="message_title">快來留言吧</div>
            <div class="message_input_container">
                <div class="signup_str">內容</div>
                <div>
                    <input class="message_input" id="message_input" type="text" name="message_input">
                </div>
            </div>
            <div>
                <button class="message_input_but" onclick="member_create_message()">送出</button>
            </div>

        </div>
    </div>

    <hr> <!-- 分隔線 以下是留言板-->

    <div class="message_board">
        <div id="all_message_board_content">
            <!-- <a class="message_name">人：</a> -->
            <!-- <a class="message_content">123測試</a> -->
        </div>
    </div>



<script>
    member_name_get()
    member_create_message()//先取一次所有留言






    async function member_name_get(){
        let name_welcome_dom = document.getElementById("name_welcome");
        let name = sessionStorage.getItem("name");//從session取出姓名資訊
        name_welcome_dom.textContent = `${name}，歡迎登入系統`
    }


    //取得所有的留言，並取得該帳號的留言出現按鈕
    async function member_create_message(){
        let new_message = document.getElementById("message_input").value
        let name = sessionStorage.getItem("name");//從session取出姓名資訊
        // let name_id = sessionStorage.getItem("name_id");//從session取出姓名id資訊，後續用來辨識哪個是他的留言

        //清空輸入欄
        document.getElementById("message_input").value ="";

        let response = await fetch("/createMessage",// 要連結的連結
                {
                    method:"POST",
                    //發送請求到後方並戴上這些json
                    body:JSON.stringify({"new_message":new_message})
                });
        
        // 從後端接資料過來
        let data =await response.json();
        console.log(data['message'])


        //先把留言板清空(避免沒留言資料直接點按鈕，留言然後出現兩行)
        let a = document.querySelectorAll('.message_arr');
        for(let n =0 ; n<a.length; n++){
            a[n].remove()
        };


        if(data['new_message']== false){ 

            for(let i=0; i<data['message'].length; i++){
                let message_id = data['message'][i][2]

                let message_arr_dom = document.createElement("div");
                message_arr_dom.className = "message_arr";
                message_arr_dom.id = `message_arr_${message_id}`;
                document.querySelector("#all_message_board_content").appendChild(message_arr_dom)

                let message_name_dom = document.createElement("a");
                let message_board_name = data['message'][i][0]
                message_name_dom.textContent = `${message_board_name}:`,//插入名稱
                message_name_dom.className = "message_name";
                document.querySelector(`#message_arr_${message_id}`).appendChild(message_name_dom)

                let message_dom = document.createElement("a");
                let message_board_message = data['message'][i][1]
                message_dom.textContent = message_board_message,//插入留言
                message_dom.className = "message";
                document.querySelector(`#message_arr_${message_id}`).appendChild(message_dom)
                
                //這邊辨識這個留言是不是這個人留的
                if(data['message'][i][3] == data['siginin_id']){
                    let del_but = document.createElement("button");
                    del_but.textContent="X"
                    del_but.className = "del_message_but";
                    del_but.id = `del_message_but_${message_id}`;

                    del_but.addEventListener('click', function() {
                                            let name_id = sessionStorage.getItem("name_id");//從session取出姓名資訊
                                            message_index = this.id.split("_")[3];

                                            let del_confirm = confirm('確定要刪除留言嗎?');
                                                    if (del_confirm){
                                                        click_del_message_but(message_index)
                                                    };
                                            });

                    document.querySelector(`#message_arr_${message_id}`).appendChild(del_but)//新增刪除按鈕
                }

            };


        }else {
            let a = document.querySelectorAll('.message_arr');//先把留言板清空
            for(let n =0 ; n<a.length; n++){
                a[n].remove()
            };
            
            for(let i=0; i<data['message'].length; i++){
                let message_id = data['message'][i][2]
                let message_arr_dom = document.createElement("div");
                message_arr_dom.className = "message_arr";
                message_arr_dom.id = `message_arr_${message_id}`;
                document.querySelector("#all_message_board_content").appendChild(message_arr_dom)
                
                let message_name_dom = document.createElement("a");
                let message_board_name = data['message'][i][0]
                message_name_dom.textContent = `${message_board_name}:`, //插入名稱
                message_name_dom.className = "message_name";
                document.querySelector(`#message_arr_${message_id}`).appendChild(message_name_dom)

                let message_dom = document.createElement("a");
                let message_board_message = data['message'][i][1]
                message_dom.textContent = message_board_message, //插入留言
                message_dom.className = "message";

                document.querySelector(`#message_arr_${message_id}`).appendChild(message_dom)

                    //這邊辨識這個留言是不是這個人留的
                    if(data['message'][i][3] == data['siginin_id']){
                            let del_but = document.createElement("button");
                            del_but.textContent="X"
                            // del_but.style.marginLeft = "10Ppx";
                            del_but.className = "del_message_but";
                            del_but.id = `del_message_but_${message_id}`;

                            del_but.addEventListener('click', function(){
                                let name_id = sessionStorage.getItem("name_id");//從session取出姓名資訊
                                
                                message_index = this.id.split("_")[3];

                                let del_confirm = confirm('確定要刪除留言嗎?');
                                                    if (del_confirm){
                                                        click_del_message_but(message_index)
                                                    };

                                });
                            document.querySelector(`#message_arr_${message_id}`).appendChild(del_but)//新增刪除按鈕
                    }

                }
        };
    }



    async function click_del_message_but(message_index){
                let response = await fetch("/deleteMessage",// 要連結的連結
                                            {
                                                method:"POST",
                                                //發送請求到後方並戴上這些json
                                                body:JSON.stringify({"message_index":message_index,
                                                                     })
                                            });
                                            
                let data =await response.json();
                
                //先把留言板清空
                let a = document.querySelectorAll('.message_arr');
                for(let n =0 ; n<a.length; n++){
                    a[n].remove()
                };

                //從回傳資料取的刪除後的所有留言
                for(let i=0; i<data['message'].length; i++){
                let message_id = data['message'][i][2]

                let message_arr_dom = document.createElement("div");
                message_arr_dom.className = "message_arr";
                message_arr_dom.id = `message_arr_${message_id}`;
                document.querySelector("#all_message_board_content").appendChild(message_arr_dom)

                let message_name_dom = document.createElement("a");
                let message_board_name = data['message'][i][0]
                message_name_dom.textContent = `${message_board_name}:`,     //插入名稱
                message_name_dom.className = "message_name";
                document.querySelector(`#message_arr_${message_id}`).appendChild(message_name_dom)

                let message_dom = document.createElement("a");
                let message_board_message = data['message'][i][1]
                message_dom.textContent = message_board_message,     //插入留言
                message_dom.className = "message";
                document.querySelector(`#message_arr_${message_id}`).appendChild(message_dom)
                

                // let name_id = sessionStorage.getItem("name_id");//從session取出姓名資訊


                    //是那個人帳號的就加入刪除鈕
                    if(data['message'][i][3] == data['siginin_id']){
                        let del_but = document.createElement("button");
                        del_but.textContent="X"
                        del_but.className = "del_message_but";
                        del_but.id = `del_message_but_${message_id}`;

                        del_but.addEventListener('click', function() {
                                                let name_id = sessionStorage.getItem("name_id");//從session取出姓名資訊
                                                message_index = this.id.split("_")[3];

                                                let del_confirm = confirm('確定要刪除留言嗎?');
                                                    if (del_confirm){
                                                        click_del_message_but(message_index)
                                                    };
                                                    
                                                });

                        document.querySelector(`#message_arr_${message_id}`).appendChild(del_but)//新增刪除按鈕
                    }

                };

    }



    
</script>
</body>

</html>






